.mainCarousel{
    padding-top: 5px;
}

.trending {
    padding: 3rem;
}

.trendingText {
    text-align: center;
}

.bestSeller {
    padding: 3rem;
}

.bestSellerText {
    text-align: center;
}

.faq {
    margin: 3rem;
}

.card.home{
    width: 15rem; 
    background: linear-gradient(to right,#e7c82b ,#9a8100);
    border-radius: 40px; 
    border: none;
    transition: all 0.5s;
    &:hover{
    border-radius: 0;
    .card-img-top{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    }
  }
}

.card-img-top.home{
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    transition: all 0.5s;
    &:hover{
    border-radius: 0;
  }
}