
.brandLogo{
  filter: drop-shadow(1px 1px 1px gold);
}

a{
  color: #cdac00;
  background-color: transparent;
  text-decoration: none;
  &:hover {
    color: white;
    background-color: transparent;
    text-decoration: solid;
  } 
}

.card-title a{
  color: black;
  background-color: transparent;
  text-decoration: solid;
  &:hover {
    color: white;
    background-color: transparent;
    text-decoration: solid;
  } 
}

.emptyCart a{
  color: gray;
  &:hover{
    color: #cdac00;
    text-decoration: underline;
  }
}

.navbar a{
  color: black;
  background-color: transparent; 
  text-decoration: solid;
  &:hover {
    color: white;
    background-color: transparent; 
    text-decoration: solid; 
  }          
}

body.light-mode {
  background-color: #e4e4e4;
  color: black;
}

body.dark-mode {
  background-color: #36393F;
  color: #cdac00;
}

.footer a{
  color: black;
  background-color: transparent;
  text-decoration: solid;
  &:hover {
    color: white;
    background-color: transparent;
    text-decoration: solid;
  } 
}

.bi-trash3{
  padding-left: 9rem;
  &:hover{
    color: rgb(178, 6, 6);
  }
}

.address {
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.addressForm {
  padding: 2rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


.updateAddInput {
  margin: 5px;
  background: linear-gradient(to right, whitesmoke, rgba(211, 211, 211, 0.685));
  opacity: 0.9; 
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
  width: 40%;
}

.priceDetails {
  padding: 0.5rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.orderPlaced{
  height: 350px;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem;
  margin: auto;
  margin-top: 3rem;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

  a{
    color: gray;
    &:hover{
      color: #cdac00;
      text-decoration: underline;
    }
  }
  
}

.card.displayPage{
  width: 15rem;
  background: linear-gradient(to right, #656a76,#36393F);
  border:none;
  border-radius: 30px;
  transition: all 0.5s;
  &:hover{
    border-radius: 0;
    .card-img-top{
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      }
  }
}

.card-img-top.displayPage{
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  transition: all 0.5s;
  &:hover{
    border-radius: 0;
  }
}

.notAuthorizedBtn{
  height: 40px;
  width: 170px;
  margin: 20px;
  background: linear-gradient(to right, black, gray) ;
  color: whitesmoke;
  cursor: pointer;
  border: none;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 10rem;

  &:hover{
      box-shadow: 0px 5px 10px rgb(63, 61, 61);
      background: linear-gradient(to right, #00669a, gray) ;
      font-weight: bold;
      letter-spacing: 4px;
  }

  &:active{
      transform:translateY(2px);
  }
}

.buyBtn{
  width:5rem;
  padding: 7px;
  background: linear-gradient(to right, #00b09b, #96c93d);
  border: none;
  border-radius: 20px;
  transition: all 0.5s;
  &:hover{
    letter-spacing: 1px;
  }
}

.addCartBtn{
  margin-left: 1rem;
  padding: 7px; 
  width: 8rem;
  border: none;
  border-radius: 20px;
  background: linear-gradient(to right, #f2994a, #f2c94c);
  transition: all 0.5s;
  &:hover{
    letter-spacing: 1px;
  }
}

.checkoutBtn{
  width: 6rem;
  padding: 7px;
  border: none;
  border-radius:20px;
  font-weight: bold;
  background: linear-gradient(to right, #f2994a, #f2c94c);
  transition: all 0.5s;
  &:hover{
    letter-spacing: 1px;
  }
}

.upadateBtn{
  width:6rem;
  padding: 7px;
  border: none;
  border-radius:20px; 
  margin-top:1rem;
  font-weight: bold;
  background: linear-gradient(to right, #f2994a, #f2c94c);
  transition: all 0.5s;
  &:hover{
    letter-spacing: 1px;
  }
}

.placeOrderBtn{
  width: 8rem;
  padding: 7px; 
  border: none;
  font-weight: bold;
  border-radius:20px;
  background: linear-gradient(to right, #f2994a, #f2c94c);
  transition: all 0.5s;
  &:hover{
    letter-spacing: 1px;
  }
}