
.navbar-brand{
  filter: drop-shadow(1px 1px 1px gold);
}

a{
  color: #cdac00;
  background-color: transparent;
  text-decoration: none;
  &:hover {
    color: white;
    background-color: transparent;
    text-decoration: solid;
  } 
}

.card-title a{
  color: black;
  background-color: transparent;
  text-decoration: solid;
  &:hover {
    color: white;
    background-color: transparent;
    text-decoration: solid;
  } 
}

.emptyCart a{
  color: gray;
  &:hover{
    color: #cdac00;
    text-decoration: underline;
  }
}

.navbar a{
  color: black;
  background-color: transparent; 
  text-decoration: solid;
  &:hover {
    color: white;
    background-color: transparent; 
    text-decoration: solid; 
  }          
}

body.light-mode {
  background-color: red;
  color: black;
}

body.dark-mode {
  background-color: #36393F;
  color: #cdac00;
}

.footer a{
  color: black;
  background-color: transparent;
  text-decoration: solid;
  &:hover {
    color: white;
    background-color: transparent;
    text-decoration: solid;
  } 
}

.bi-trash3{
  padding-left: 9rem;
  &:hover{
    color: rgb(178, 6, 6);
  }
}

.updateAddInput{
  margin: 5px;
  background-color: lightgray;
  border: none;
  border-radius: 1rem;
}