.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-brand{
  filter: drop-shadow(1px 1px 1px gold);
}

a{
  color: white;
  background-color: transparent;
  text-decoration: solid;
  &:hover {
    color: #cdac00;
    background-color: transparent;
    text-decoration: solid;
  } 
}

.card-title a{
  color: black;
  background-color: transparent;
  text-decoration: solid;
  &:hover {
    color: white;
    background-color: transparent;
    text-decoration: solid;
  } 
}



.navbar a{
  color: black;
  background-color: transparent; 
  text-decoration: solid;
  &:hover {
    color: white;
    background-color: transparent; 
    text-decoration: solid; 
  }          
}

/* .navbar a:hover {
  color: white;
  background-color: transparent; 
  text-decoration: solid;          
} */

 /* .bi-telephone-fill {
  color:black;
  background-color: transparent; 
  text-decoration: none;
  &:hover{
    color:white;
    background-color: transparent; 
    text-decoration: solid; 
  
  } 
}  */

body.light-mode {
  background-color: white;
  color: black;
}

body.dark-mode {
  background-color: #36393F;
  color: #cdac00;
}

.footer a{
  color: black;
  background-color: transparent;
  text-decoration: solid;
  &:hover {
    color: white;
    background-color: transparent;
    text-decoration: solid;
  } 
}

.bi-trash3{
  padding-left: 9rem;
  &:hover{
    color: rgb(178, 6, 6);
  }
}